:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.checkbox-field, .header-list,
.header-connect,
.header-container, .header-connect__link, .about-us-image, .team-social__link, .clients-list__link, .footer-social__link, .subscribe-form {
  align-items: center;
  display: flex;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms var(--cubic);
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0;
  border-radius: 50%;
  background-color: var(--third-color);
  color: #000000;
  cursor: pointer;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  color: var(--accent-color);
}

.modal__icon {
  margin: auto;
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  transition: transform 250ms var(--cubic);
  outline: none;
  display: block;
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}

.form-field {
  margin-bottom: 10px;
}

.form-field__label {
  margin-bottom: 10px;
}

.input__text {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
  display: block;
}

.form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic);
}

.check__text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  display: flex;
  text-align: center;
}

.check__text::before {
  content: '';
  width: 15px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.checkbox-field {
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: center;
}

.policy__check:checked + .check__text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.checkbox__link {
  position: relative;
  display: inline-flex;
  color: var(--accent-color);
  text-decoration-line: underline;
  margin-left: 3px;
}

.form-main-btn {
  min-width: 200px;
  min-height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
  align-items: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-main-btn:focus, .form-main-btn:hover {
  background-color: #188be9;
}

.header {
  background-color: var(--third-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-color {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-connect__item:not(:last-child) {
  margin-right: 30px;
}

.header-list__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  transition: color 250ms var(--cubic);
}

.header-list__link {
  position: relative;
}

.header-list__link.current:after {
  content: '';
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__icon,
.team-social__icon,
.clients-list__icon,
.footer-social__icon {
  fill: currentColor;
}

.header__icon {
  margin-right: 10px;
}

.header-connect__link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms var(--cubic);
}

.header-list__link:hover, .header-list__link:focus,
.header-list__link:hover,
.header-list__link:focus,
.header-connect__link:hover,
.header-connect__link:focus,
.header-connect__link:hover,
.header-connect__link:focus,
.contact__link:hover,
.contact__link:focus,
.contact__link:hover,
.contact__link:focus,
.address__link:hover,
.address__link:focus,
.address__link:hover,
.address__link:focus,
.our-clients__link:hover,
.our-clients__link:focus,
.our-clients__link:hover,
.our-clients__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-groung-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--third-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--third-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:focus, .hero-btn:hover,
.hero-btn:focus,
.hero-btn:hover,
.form-main-btn:focus,
.form-main-btn:hover,
.form-main-btn:focus,
.form-main-btn:hover,
.subcribe-btn:focus,
.subcribe-btn:hover,
.subcribe-btn:focus,
.subcribe-btn:hover {
  background-color: #188be9;
}

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.about__after-title {
  font-size: 14px;
  line-height: 1.71;
  max-width: 270px;
}

.about-us-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.about-us-image {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
}

.we-do {
  padding-bottom: 94px;
}

.we-do-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.we-do-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.we-do__title {
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.we-do__after-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__title {
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__name-title {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__after-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-item-content {
  padding: 30px;
  text-align: center;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--third-color);
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.team-social__link:focus, .team-social__link:hover {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.our-clients {
  margin-top: 94px;
  margin-bottom: 94px;
  background-color: var(--third-color);
}

.our-clients__title {
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  justify-content: center;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--cubic);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  color: var(--secondary-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.filters-btn:hover, .filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.active-btn {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.projects-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: #ffffff;
}

.projects__card-content {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__after-title {
  font-size: 16px;
  line-height: 1.86;
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card {
  transition: box-shadow 250ms var(--cubic);
  display: flex;
  flex-direction: column;
}

.project-card:focus, .project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__card-text {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: transform 250ms var(--cubic), opacity 500ms var(--cubic);
  transform: translateY(100%);
}

.overlay__card-text .project-card:focus,
.project-card:hover .overlay__card-text {
  transform: translateY(0);
  opacity: 1;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-adreess {
  width: 231px;
}

.footer-social {
  width: 206px;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--third-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  display: inline-block;
}

.address__link {
  color: var(--third-color);
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item,
.contact__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 50%;
  color: var(--third-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.footer-social__link:focus, .footer-social__link:hover {
  background-color: var(--accent-color);
}

.subscribe {
  display: block;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms var(--cubic);
}

.subscribe__input:focus {
  border-color: var(--accent-color);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subcribe-btn {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  color: var(--third-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.subscribe-btn__icon {
  margin-left: 10px;
}

.developer-inf {
  padding-top: 10px;
  text-align: center;
  background-color: #2f303a;
}

.developer-inf__text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 1.67;
}
/*# sourceMappingURL=main.css.map */