.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.about-us-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.about__title {
  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.about__after-title {
  @include font(14px, null, 1.71, null);
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
  max-width: 450px;
}
.about-us-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 768px;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 768px;
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
.about-us-image {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  @extend %flex-items;
  margin-bottom: 30px;
}
