.address__link {
  color: var(--third-color);
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__item,
.contact__link {
  @include font(14px, 400, 1.71, null);
  font-style: normal;
}
.contact__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__title {
  @include font(14px, 700, 1.14, null);
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}
