.our-clients {
  margin-top: 30px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 94px;
    margin-bottom: 0px;
  }
  background-color: var(--third-color);
}
.our-clients__title {
  color: var(--secondary-text-color);
  @include font(28px, 700, 1.17, null);
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 1.17, null);
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}
.clients-list__link {
  display: flex;
  align-items: center;
  height: 92px;
  justify-content: center;
  @extend %flex-items;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--cubic);
}
