.our-clients {
  margin-top: 94px;
  margin-bottom: 94px;
  background-color: var(--third-color);
}
.our-clients__title {
  color: var(--secondary-text-color);
  @include font(36px, 700, 1.17, null);
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-list__item {
  & + & {
    margin-left: 30px;
  }
}
.clients-list__link {
  width: 170px;
  height: 92px;
  justify-content: center;
  @extend %flex-items;
  border: 1px solid;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--cubic);
}
