.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-adreess {
  width: 231px;
}
.footer-social {
  width: 206px;
}
.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  margin-bottom: 20px;
  color: var(--third-color);
  font-family: Raleway;
  @include font(26px, 700, 1.19, null);
  display: inline-block;
}
