.hero {
  text-align: center;
  background-color: #2f303a;
}
.hero-container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/back-groung-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  @include font(44px, 900, 1.36, 0.06em);
  color: var(--third-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--third-color);
  font-family: inherit;
  @include font(16px, 700, 1.87, 0.06em);
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic);
}
.hero-btn,
.hero-btn,
.form-main-btn,
.form-main-btn,
.subcribe-btn,
.subcribe-btn {
  &:focus,
  &:hover {
    background-color: #188be9;
  }
}
